<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IInputParserService" type="InterfacesLibrary.IInputParserService, InterfacesLibrary" />
    <alias alias="IInputService" type="InterfacesLibrary.IInputService, InterfacesLibrary" />
    <alias alias="IOutputService" type="InterfacesLibrary.IOutputService, InterfacesLibrary" />
    <alias alias="ICalculator" type="InterfacesLibrary.ICalculator, InterfacesLibrary" />
    <alias alias="ICalculaterReplLoop" type="InterfacesLibrary.ICalculaterReplLoop, InterfacesLibrary" />

    <alias alias="InputParserService" type="CalculatorCommandParsingLibrary.InputParserService, CalculatorCommandParsingLibrary" />
    <alias alias="ConsoleInputService" type="InputOutputLibrary.ConsoleInputService, InputOutputLibrary" />
    <alias alias="ConsoleOutputService" type="InputOutputLibrary.ConsoleOutputService, InputOutputLibrary" />
    <alias alias="MsgBoxOutputService" type="InputOutputLibrary.MsgBoxOutputService, InputOutputLibrary" />
    <alias alias="Calculator" type="CalculatorLibrary.Calculator, CalculatorLibrary" />
    <alias alias="CalculaterReplLoop" type="CalculatorLibrary.CalculaterReplLoop, CalculatorLibrary" />

    <container>
      <register type="IInputParserService" mapTo="InputParserService"/>
      <register type="IInputService" mapTo="ConsoleInputService"/>
      <register name="OutputService1" type="IOutputService" mapTo="ConsoleOutputService"/>
      <register name="OutputService2" type="IOutputService" mapTo="MsgBoxOutputService"/>
      <register type="ICalculator" mapTo="Calculator"/>
      <register type="ICalculaterReplLoop" mapTo="CalculaterReplLoop"/>
    </container>
  </unity>-->
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <module assemblyFile="CalculatorCommandParsingLibrary.dll"
            moduleType="CalculatorCommandParsingLibrary.CalculatorCommandParsingModule, CalculatorCommandParsingLibrary"
            moduleName="Parsing"/>
    <module assemblyFile="CalculatorLibrary.dll"
            moduleType="CalculatorLibrary.CalculatorModule, CalculatorLibrary"
            moduleName="Calculator"/>
    <module assemblyFile="InputOutputLibrary.dll"
            moduleType="InputOutputLibrary.InputOutputModule, InputOutputLibrary"
            moduleName="InputOutput"/>
    <module assemblyFile="MainModuleLibrary.dll"
            moduleType="MainModuleLibrary.MainModule, MainModuleLibrary"
            moduleName="Main">
      <dependencies>
        <dependency moduleName="Calculator"/>
        <dependency moduleName="Parsing"/>
        <dependency moduleName="InputOutput"/>
      </dependencies>
    </module>
  </modules>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>
